

<div class="container border-info" style="width:300px">
    <form method="post" action="/Home/AddPost">
        <textarea id="txtarea-adtext " name="Text" class="form-control" rows="3" placeholder="Describe the items you want to give away"></textarea>
        <input name="name" class="form-control" placeholder="Enter your name" />
        <input id="txt-phone" class="form-control" name="Phone" placeholder="Enter your phone number"  />
        <button id="btn-AddPost" class="btn btn-success">Submit</button>

    </form>
</div>